@model IEnumerable<VillasBonaterra.Models.Usuario>
@{
    ViewBag.Title = "Propietarios";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index", "Home")">Propietarios</a>
    </li>
    <li class="breadcrumb-item active">@ViewBag.Title</li>
</ol>
<!--<h2>Index</h2>-->
<hr>
<h1>@ViewBag.Title</h1>
<div class="card mb-3">
    <div class="card-header">
        <a class="btn btn-primary" href="/Users/Add">Nuevo Propietario</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTableVisitor" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Primer Apellido</th>
                        <th class="text-center">Segundo Apellido</th>
                        <th class="text-center">E-mail</th>
                        <th class="text-center">Teléfono</th>
                        <th class="text-center">Domicilio</th>
                        <th class="text-center">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderBy(s => s.nombre).ThenBy(s => s.apellido1).ThenBy(s => s.apellido2))
                    {
                    <tr>
                        <td>
                            @String.Format(item.nombre)
                        </td>
                        <td>
                            @String.Format(item.apellido1)
                        </td>
                        <td>
                            @String.Format(item.apellido2)
                        </td>
                        <td>
                            @String.Format(item.email)
                        </td>
                        <td class="text-center">
                            @String.Format(item.telefono)
                        </td>
                        <td class="text-center">
                            <a href="@Url.Action("Index", "Address", new { id = item.id})">
                                <i class="fa fa-home"></i>
                            </a>
                        </td>
                        <td class="text-center">
                            <!--<a href="Url.Action("Update", "Visitor", new { id = item.id_visitante })" visitorid="item.id_visitante">
                                <i class="fa fa-fw fa-edit"></i>
                            </a>-->
                            <a href="@Url.Action("Update", "Users", new { id = @item.id })">
                                <i class="fa fa-fw fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted"></div>
</div>
<!-- Card Modal-->
<div class="modal fade" id="CardModal" tabindex="-1" role="dialog" aria-labelledby="CardModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="LogoffModalLabel"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body"><img id="photo" src="" style="width: 100%; height: auto;"></div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
@section js{
    @Scripts.Render("~/Assets/Users")
}

